name: export_plugin
on:
  release:
    types: [published]

env:
  PLUGIN_NAME: strato-plugin
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create Plugin Directory
        run: |
          mkdir ${{env.PLUGIN_NAME}}
          find . -type f | grep -ve './.git' \
            -ve '.github' \
            -ve './.vscode' \
            -ve '__pycache__/' \
            -ve './tests' \
            -ve './pyproject.toml' \
            -ve './.gitignore' \
            -ve './.python-version' \
            -ve './README.md' \
            -ve './uv.lock' | xargs -I src cp --parents src ${{env.PLUGIN_NAME}}

      - name: Write version to metadata.txt
        run: |
          VERSION=${{ github.event.release.tag_name }}
          sed -i "s/^version=.*/version=$VERSION/" ${{env.PLUGIN_NAME}}/metadata.txt
          cat ${{env.PLUGIN_NAME}}/metadata.txt

      - name: Create Archive
        run: |
          zip -r ${{env.PLUGIN_NAME}}.zip ./${{env.PLUGIN_NAME}}
      - name: Upload release asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} ${{env.PLUGIN_NAME}}.zip#${{env.PLUGIN_NAME}}.zip --clobber
