name: Test plugin

on:
  pull_request:
    branches:
      - main

env:
  DOCKER_IMAGE: qgis/qgis

jobs:
  Test-plugin:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        docker_tags: [release-3_40]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker pull QGIS
        run: |
          docker pull "$DOCKER_IMAGE":${{ matrix.docker_tags }}

      - name: Run tests
        run: |
          docker run --rm \
            -v "${{ github.workspace }}":/plugin \
            -w /plugin \
            "$DOCKER_IMAGE":${{ matrix.docker_tags }} \
            sh -c "
              pip3 install --break-system-packages pytest pytest-qgis &&
              xvfb-run -s '+extension GLX -screen 0 1024x768x24' \
                python3 -m pytest tests/ -v
            "
